
<a href="{{ object.obj.get_absolute_url }}">Go to Forum Topic</a>

{{ object.obj.comment|safe }}

{% if object.obj.attachments.count %}
<h2>Attachments</h2>
{% for attach in object.obj.attachments.all %}
  <ul>
    <li><a href="{{ attach.get_absolute_url }}">{{ attach }}</a></li>
  </ul>
{% endfor %}
{% endif %}

